@import 'scss/reset';
@import 'scss/base';

body {
  font-family: Roboto, sans-serif;
}

.shadow {
  background: transparent;
  width: 100%;
  height: 65px;
}

.navbar {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  align-content: center;
  background-color: #fff;
  justify-content: space-between;
  border-bottom: 1px solid #0c59a5;

  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 1000;

  .navbar__logo {
    width: auto;
    height: 45px;
  }

  .navbar-content {
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 50%;
    display: none;

    @media (min-width: 1180px) {
      display: flex;
    }

    .navbar-content__menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      text-transform: uppercase;
      font-family: Roboto, sans-serif;
      color: #0c59a5;
      font-size: 13px;

      & li.active a {
        border-bottom: solid 1px #0c59a5;
        padding-bottom: 5px;
      }

      & li a:hover {
        border-bottom: solid 1px #0c59a5;
        padding-bottom: 5px;
      }
    }

    a.btn {
      display: inline-block;
      width: 250px;
      padding: 7px 20px;
      border-radius: 8px;
      color: #3066AB;
      background: #fff;
      border: solid 1px #3066AB;
      font-size: .8em;
      font-weight: 500;
      font-family: Roboto, sans-serif;
      margin-left: 50px;
      text-align: center;

      &:hover, .active {
        color: #fff;
        background: #3066AB;
        border: solid 1px #3066AB;
      }
    }

    &.mobile {
      position: absolute;
      right: 0;
      top: 50px;
      background: #fff;
      display: flex;
      width: 300px;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .navbar-content__menu {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }

      button {
        margin: 0;
      }
    }
  }

  .navbar__menu-icon {
    img {
      width: auto;
      height: 32px;
    }

    @media (min-width: 1180px) {
      display: none;
    }
  }
}

h1.title {
  height: fit-content;
  padding: 20px 0 15px 0;
  font-size: 1.5em;
  margin-bottom: 10px;
  position: relative;
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    width: 300px;
    background: #00a1b8;
    z-index: 100;
  }

  &.nt-2 {
    &::before {
      background: #b2e17d;
    }
  }
}

.main-home {
  display: grid;
  height: 650px;
  position: relative;

  grid-template-columns: 100%;
  grid-template-rows: 400px 250px;

  @media (min-width: 1180px) {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
  }

  #main__background {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;

    @media (min-width: 1180px) {
      display: block;
    }
  }

  .services {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;


    .services__item {
      border-top: 1px solid rgba(0, 0, 0, 0.5);

      &:nth-child(odd) {
        border-right: 1px solid rgba(0, 0, 0, 0.5);
      }

      @media (min-width: 1180px) {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(0, 0, 0, 0.5);
        border-top: none;
      }

      position: relative;

      &:hover a img {
        opacity: 1;
      }

      a {
        display: block;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;

          @media (min-width: 1180px) {
            opacity: 0;
          }
        }

        h3 {
          position: absolute;
          color: #fff;
          text-transform: none;
          width: 100%;
          padding: 1.2em .5em 1em .5em;

          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
        }
      }
    }
  }

  .service__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: relative;

    background: rgba(0, 0, 0, 0.2);

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: -1;

      @media (min-width: 1180px) {
        display: none;
      }
    }

    .service__cta-content {
      padding: 30px;

      h1 {
        font-size: 1.5em;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;

        @media (min-width: 1180px) {
          font-size: 2.5em;
          margin-bottom: 30px;
        }
      }

      .cta {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        button {
          display: inline-block;
          padding: 7px 20px;
          border-radius: 8px;
          color: #3066AB;
          background: #fff;

          font-size: .8em;
          font-weight: 500;
          font-family: Roboto, sans-serif;

          margin-right: 30px;
        }
      }
    }

  }

}

.main-categories {
  .banner.model-1 {
    position: relative;
    display: block;
    height: 350px;

    .banner__bg {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: -1;
    }

    .banner__copy {
      width: 100%;

      position: absolute;
      bottom: 0;

      h1 {
        height: 70%;
        background: #fff;
        color: #000;
        font-size: 1.5em;
        font-weight: 530;
        padding: 20px 40px;

        @media (min-width: 750px) {
          font-size: 2em;
          font-weight: 530;
          padding: 20px 40px;
        }
      }

      p {
        height: 30%;
        color: #fff;
        font-size: 1.1em;
        background: rgba(0, 0, 0, 0.6);
        padding: 10px 40px;

        @media (min-width: 750px) {
          font-size: 1.4em;
          font-weight: 530;
          padding: 10px 40px;
        }
      }


      @media (min-width: 1180px) {
        height: 250px;
        width: 500px;

        top: 50%;
        left: 0;

        transform: translateY(-50%);
      }
    }
  }

  .banner.model-2 {
    position: relative;
    display: block;
    height: 350px;

    .banner__bg {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: -1;
    }

    .banner__copy {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 100%;
      height: 60%;
      padding: 20px 70px;

      position: absolute;
      bottom: 0;

      @media (min-width: 1180px) {
        width: 35%;
        height: 100%;
        padding: 50px 60px;
      }

      @media (max-width: 750px) {
        padding: 10px 30px;
      }

      background: rgba(0, 0, 0, 0.6);
      color: #fff;


      h1 {
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 20px;

        @media (max-width: 750px) {
          font-size: 1.4em;
          margin-bottom: 10px;
        }
      }

      p {
        font-size: 1.4em;
        margin-bottom: 20px;

        @media (max-width: 750px) {
          font-size: 1.2em;
          margin-bottom: 10px;
        }
      }

      .cta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        button {
          display: inline-block;
          padding: 7px 20px;
          border-radius: 8px;
          color: #3066AB;
          background: #fff;

          // width: 100%;

          font-size: .8em;
          font-weight: 500;
          font-family: Roboto, sans-serif;
        }
      }
    }
  }

  .sub-banner {
    padding: 30px 40px 30px 20px;

    h2 {
      font-size: 2em;
      font-weight: bold;
      color: #00a1b8;
      margin-bottom: 10px;

      span {
        color: #b2e17d;
      }
    }

    p {
      font-size: 1.2em;
    }
  }

  .container-activity {
    padding: 10px 40px 30px 20px;

    h3 {
      font-size: 1.6em;
      font-weight: 500;
      margin-bottom: 35px;
    }

    .activities {
      display: grid;
      grid-template-columns: repeat(auto-fill, 500px);
      justify-content: space-between;

      @media (max-width: 500px) {
        grid-template-columns: 100%;
      }

      .activities__item {
        position: relative;
        margin-bottom: 30px;

        @media (max-width: 500px) {
          margin-bottom: 0;
        }

        h2 {
          height: fit-content;
          padding: 20px 0 15px 0;
          font-size: 1.5em;
          margin-bottom: 10px;

          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            height: 10px;
            width: 70%;
            background: #00a1b8;
            z-index: 100;
          }
        }

        .nt-2 {
          &::before {
            background: #b2e17d;
          }
        }

        ul li {
          list-style: disc;
          margin-left: 20px;
          margin-bottom: 15px;
        }

      }
    }
  }

  .about-us-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.3em;
    padding: 30px;

    @media (max-width: 425px) {
      flex-direction: column;
    }

    .text-content {
      padding: 10px 30px;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;

      @media (max-width: 768px) {
        max-width: 400px;
      }

      p {
        font-size: 1.2em;

        @media (max-width: 768px) {
          font-size: 1em;
        }
      }
    }

    .image-conetnt {
      max-width: 400px;
      max-height: 500px;

      @media (min-width: 768px) {
        max-width: 300px;
        max-height: auto;
      }

      @media (max-width: 425px) {
        max-width: 300px;
        max-height: auto;
      }

      img {
        object-fit: contain;
      }
    }
  }

  .about-us-2 {
    display: flex;
    justify-content: space-evenly;
    gap: 1.3em;
    padding: 30px;
    background: #f8f8f8;

    @media (max-width: 425px) {
      flex-direction: column;
    }

    .item {
      border-radius: 5px;
      border: #000 solid 1px;
      overflow: hidden;
      max-width: 500px;
      min-height: 200px;

      h4 {
        margin: 0;
        color: #fff;
        padding: 5px;
        background: #00a1b8;
        font-size: 1.2em;
      }

      p {
        padding: 5px;
      }
    }
  }

  .about-us-3 {
    padding: 30px;

    .container {
      display: flex;
      justify-content: center;

      .images-content {
        max-width: 700px;
        max-height: 500px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);


        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .videos-content {

        // max-width: 500px;
        // min-height: 400px;
        video {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .text-content {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 425px) {
        justify-content: start;
      }
    }
  }

  .about-us-4 {
    padding: 20px 30px;

    .carousel {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .image {
        max-width: 250px;
        height: 100px;


        img {
          filter: grayscale(100%);
          object-fit: cover;
          height: 100%;
          width: 100%;

          &:hover {
            filter: grayscale(0%);
          }
        }
      }
    }

    .text-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .contact-us-1 {
    padding: 30px;
    display: flex;
    justify-content: center;

    .container {
      border: solid 1px #000;
      border-radius: 10px;
      overflow: hidden;
      flex-grow: 1;

      max-width: 1024px;

      h1 {
        padding: 14px 20px;
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        // background: #b2e17d;
        background: #0c59a5;

        border-bottom: solid 1px #000;
      }

      .form-conatiner {
        padding: 20px;

        .item {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          input,
          select,
          textarea {
            width: 100%;
            padding: 10px 5px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }

          input[type=submit] {
            width: 100%;
            background-color: #0c59a5;
            color: white;
            padding: 14px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .contact-us-2 {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 425px) {
      flex-direction: column;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 425px) {
        margin-bottom: 30px;
      }

      h3 {
        font-size: 1.3em;
        font-weight: bold;
        margin-top: 3px;
      }

      img {
        width: 50px;
      }
    }
  }

  .contact-us-3 {
    position: relative;
    height: 300px;
    margin-top: 30px;
  }
}


.footer {
  background: #0c59a5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 40px;

  .footer__item {
    padding: 20px 16px;
    display: block;

    p {
      color: #fff;
      width: 300px;
      font-weight: bold;

      color: #ffffff;
      font-size: 0.87em;
      line-height: 1.6em;
    }

    .footer__item-title {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      border-left: 3px solid #000;
      padding: 0 0 0 15px;
      margin-bottom: 16px;
    }

    .footer__item-list {
      display: block;
      text-transform: uppercase;

      li {
        vertical-align: middle;
        font-size: 16px;
        color: #fff;
        padding: 5px 0;

        a {
          &::before {
            content: '';
            display: inline-block;
            background: url('./assets/images/chevron-right.svg');
            width: 20px;
            height: 20px;
            background-size: 20px;
            vertical-align: middle;
          }

          &:hover {
            color: #000;
          }
        }

      }


    }

    &.social {
      display: flex;
      flex-direction: column;

      .footer__item-list {
        display: flex;
        justify-content: space-between;

        a {
          margin: 10px;

          &::before {
            display: none;
          }

          img {
            width: 32px;
            height: 32px;
            filter: invert(1);

            &:hover {
              filter: invert(0);
            }
          }
        }
      }
    }

  }
}